.lk_html {
  background-color: rgb(233, 227, 220);
}

.body {
  background-color: rgba(92, 144, 106, 0.421);
}



#teg {
  color: rgba(87, 81, 21, 0.714)
}


.date {
  padding: 5px;
  width: fit-content;
  border: 1px solid rgb(35, 16, 53);
  font-size: 15px;
  color: rgb(84, 47, 47);
}

.main {
  background-color: rgba(110, 133, 116, 0.196);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#box_user {
  margin: 2px;
  width: 450px;
  height: 250px;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 7px;
  background-color: rgba(44, 44, 11, 0.087);
}

#box_other {
  margin: 2px;
  width: 450px;
  height: 250px;
  padding: 10px;
  border-radius: 7px;
  /* border: 1px solid black; */
  background-color: rgba(44, 44, 11, 0.087);
}

#conteiner {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(250, 235, 215, 0.508);
  width: 800px;
}

.ans {
  font-size: 25px;
}

#conteiner_other {
  width: 450px;
}

#conteiner_user {
  width: 450px;
}

#message {

  width: 70%;
  border: 1px solid grey;
  border-radius: 5px;
}

/* ------------------------------------------------------- */
.conteiner_message {
  margin: auto;
  position: absolute;
  top: 350px;
  /* Расположение по верхнему краю */
  left: 0;
  /* Расположение по левому краю */
  right: 0;
  /* Расположение по правому краю */
  text-align: center;
  border-radius: 7px;
  padding: 10px;

  border: 1px solid black;
  width: 400px;
  min-height: 100px;
  height: fit-content;
  background-color: rgb(214, 198, 189);
  color: rgb(111, 23, 23);
}

#time {
  text-align: right;
  font-size: 12px;
  margin-bottom: -10px;
}

.message_box {
  display: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

}

/* ------------------------------------------------------------ */
#html {
  background-color: rgb(235, 231, 226);
}

#back {
  background-color: rgb(214, 198, 189);
  color: rgb(111, 23, 23);
  margin-top: 20px;
  margin-bottom: 0px;
}

#full_message {
  border-radius: 7px;
  margin: auto;
  position: absolute;
  top: 10;
  /* Расположение по верхнему краю */
  left: 0;
  /* Расположение по левому краю */
  right: 0;
  /* Расположение по правому краю */
  text-align: center;
  background-color: rgb(214, 198, 189);
  font-style: italic;
  width: 500px;
  height: fit-content;
  border: 1px solid black;
  padding: 30px 30px 10px 30px;
  word-wrap: break-word;

  color: rgb(111, 23, 23);
}

#div_out_message {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  word-wrap: break-word;
}

#div_in_message {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  word-wrap: break-word;
}

.mess_info {
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  color: rgb(32, 28, 28);
  height: fit-content;
  background-color: rgb(214, 198, 189);
}

.hr {
  width: 100px;
  margin-bottom: 25px;
}

/* #message {
  color: chartreuse;
} */