{% extends 'wrapper/main.html' %}
{% block content %}
  <div class="conteiner">
    {% for key_teg, quest_teg in tegs.items %}
      {% with dict_length=quest_teg|length %}
        <div class="box_teg">
          <div>
            <h3>{{ key_teg }}</h3>
          </div>
          <hr />
          <a class="box_teg_href" href="{% url 'questions_in_tag' key_teg %}"><div>Вопросов {{ dict_length }}</div></a>
          <hr />

          {% for tag in user_tegs %}
            {% if key_teg == tag.name %}
              <div>
                {% comment %} <button id="rection" onclick="func('{{ tag.id }}')"><span id="counter">Подписаться |{{ tag.user_count }}</span></button> {% endcomment %}
                <button id="rection" onclick="func('{{ tag.id }}')"><span id="counter">Подписаться |<span id="tag_count{{ tag.id }}">{{ tag.user_count }}</span></span></button>
              </div>
            {% endif %}
          {% endfor %}

          <div id="tag_count">Initial</div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>

  <style>
    h3 {
      margin-bottom: 1em;
    }
    .conteiner {
      display: flex;
      padding: 0.1em;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .box_teg {
      margin-top: 0.5vw;
    
      padding: 1vw;
      border: 1px solid lightgray;
      border-radius: 5px;
    
      width: clamp(10%%, 18vw, 20%%);
      font-size: clamp(1rem, 18vw, 20%%);
    }
    .box_teg_href {
      font-size: clamp(1rem, 18vw, 20%%);
      color: #2d72d9;
    }
    
    #rection {
      margin: 1em 0 2em 0;
      padding: 0 5px 0 5px;
      background-color: #65c178;
      color: #fff;
      border-color: transparent;
      border-radius: 5px;
      font-size: clamp(1rem, 1rem, 1vw);
    }
    #rection:hover {
      background-color: #45a049;
    }
  </style>
  <script>
    async function func(tagId) {
      try {
        let response = await fetch(`/tegs/add/?tag_id=${tagId}`)
    
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`)
        }
    
        let data = await response.json()
    
        console.log('Received data:', data)
    
        const tagCountElement = document.getElementById(`tag_count${tagId}`)
    
        if (tagCountElement) {
          console.log('Element found:', tagCountElement)
    
          tagCountElement.innerHTML = data.answer
        } else {
          console.error(`Element with id 'tag_count${tagId}' not found`)
        }
      } catch (error) {
        console.error('Error:', error)
      }
    }
  </script>
{% endblock %}
