{% extends 'wrapper/main.html' %}
{% block content %}
  <div class="users-container">
    <div class="title">Пользователи</div>
    <div class="container">
      {% for username in users %}
        <div class="box">
          <div class="user-list">
            <div class="user">
              {% include 'shared/user_witget.html' with user=username %}
            </div>
            <div class="answer-question">
              <hr />
              {% for key_ans, value_ans in count_answer_users.items %}
                {% if key_ans == username %}
                  <a href="/user/{{ username }}/"><div class="answer">Ответов | {{ value_ans }}</div></a>
                  {% for key_quest, value_quest in count_questions_users.items %}
                    {% if key_quest == username %}
                      <div>.</div>
                      <a href=""><div class="questions">Вопросов | {{ value_quest }}</div></a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
            <hr />

            <div class="rating">рейтинг | {{ username.rating }}</div>
            <hr />
          </div>
        </div>
      {% endfor %}
    </div>

    {% comment %}в шалон{% endcomment %}
    <div>
      {% for num in pages_range %}
        {% if page_number != num %}
          <a href="{% url 'users_page' num %}">{{ num }}</a>
        {% else %}
          <span class="current">{{ num }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <style>
    .answer,
    .questions {
      font-size: clamp(1.2vw, 1.2vw, 1.5vw);
    }
    .current {
      color: red;
    }
    .title {
      padding: 1vw;
      font-size: 2.5vw;
      text-align: center;
    }
    .rating {
      margin: 0.2em 0 0.2em 0;
      height: clamp(100px, 18vw, 200px);
      font-size: clamp(1.2vw, 1.2vw, 1.5vw);
    }
    .user {
      display: flex;
    }
    .answer-question {
      margin-bottom: 0.2em;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
    .answer,
    .questions {
      font-size: 1.5vw;
      font-weight: 700;
    }
    
    .user {
      font-size: 1vw;
      background-color: greylathtml;
    }
    .container {
      display: flex;
      padding: 0.1em;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .box {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 5px;
    
      width: clamp(50px, 18vw, 200px);
      height: clamp(100px, 18vw, 200px);
    }
  </style>
{% endblock %}
