{% load static %}
<!DOCTYPE html>
<html lang="en" id="test" class="lk_html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login/" method="post">
      {% csrf_token %}
      <label for="username">Логин:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="password">Пароль:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Войти" />
    </form>

    <menu>
      <a href="/lk?x=1" id="lk">ЛК</a>
      <a href="/reg">Регистрация</a>
      <a href="/login">Логин</a>
      <a href="/">Главная</a>
    </menu>
    <h2>Главная</h2>
    {% for quest in all_question %}
      <div id="conteiner">
        <div id="box">
          <div class="autor&title">
            <h4 id="teg">{{ quest.teg }}</h4>
            <a href="q/{{ quest.id }}"><h3>{{ quest.title }}</h3></a>
          </div>
          <div class="date">
            <div>Вопрос задан: {{ quest.created_at }}</div>
            <div>Изменён: {{ quest.updated_at }}</div>
          </div>
          <div id="views">Просмотры: {{ quest.views }}</div>

          <div id="answer">Ответы: {{ quest.answer|default:'0' }}</div>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
