<menu>
  <ul>
    <li>
      <a href="/switch_user/1"></a>
    </li>
    <li>
      <a href="/switch_user/2"></a>
    </li>
    <li>
      <a href="/switch_user/3"></a>
    </li>
    <li>
      <a href="/switch_user/4"></a>
    </li>
  </ul>
  <div></div>
  <a href="{% url 'question_create' %}">Задать вопрос</a>
  <div>
    {% if request.user.is_authenticated %}
      <a href="{% url 'user' request.user.username %}">Главная</a>

      <span>Добро пожаловать {{ request.user.username }}</span>
      <a href="{% url 'logout' %}">Выход</a>
    {% else %}
      <a href="/register/">Регистрация</a>
      <a href="/login_in/">Вход</a>
    {% endif %}
  </div>
</menu>

<style>
  menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(92, 144, 106, 0.5);
  }
</style>
