<menu>
  <ul>
    <li>
      <form id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="bright_sunshine" />
        <input type="hidden" name="password" value="1" />
        <button type="submit">bright_sunshine</button>
      </form>
    </li>
    <li>
      <form id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="abc" />
        <input type="hidden" name="password" value="g2j-mbj-wbN-zBV" />
        <button type="submit">abc</button>
      </form>
    </li>

    <li>
      <form id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="Den" />
        <input type="hidden" name="password" value="1" />
        <button type="submit">Den</button>
      </form>
    </li>
    <li>
      <a href="/switch_user/3"></a>
    </li>
    <li>
      <a href="/switch_user/4"></a>
    </li>
  </ul>
  <div></div>
  <a href="{% url 'question_create' %}">Задать вопрос</a>
  <div>
    {% if request.user.is_authenticated %}
      <a href="{% url 'index' %}">Главная</a>
      {% comment %} <a href="{% url 'user' request.user.username %}">Главная</a> {% endcomment %}

      <span>Добро пожаловать: {{ request.user.username }}</span>
      <a href="{% url 'logout' %}">Выход</a>
    {% else %}
      <a href="/register/">Регистрация</a>
      <a href="/login_in/">Вход</a>
    {% endif %}
  </div>
</menu>

<style>
  menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(92, 144, 106, 0.5);
  }
</style>
