{% extends 'wrapper/main.html' %}

{% load static %}

{% block content %}
  <script>
    async function increaseCounter(answerId) {
      const response = await fetch(`/increase_counter/${answerId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
      })
    
      const data = await response.json()
    
      if (data.success) {
        document.getElementById(`counter-${answerId}`).innerText = data.new_value
      } else {
        console.error('Failed to increase counter')
      }
    }
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <div>
    {% include 'shared/user_witget.html' with user=quest.autor %}
  </div>

  <div class="question-container">
    <div>
      <p class="teg">{{ quest.teg }}</p>
    </div>
    <div class="title">{{ quest.title }}</div>
    <div class="question">{{ quest.text }}</div>
    <div>Создано {{ quest.created_at|timesince }} назад</div>
    <div>
      <button>delete</button>
      <button>edit</button>
    </div>
  </div>

  <div class="solution-container">
    <div>Решение вопроса(кол-во)</div>
    {% for answer in answers %}
      {% include 'shared/user_witget.html' with user=answer.autor %}
      <div>
        {{ answer.text }}
        <button id="rection" onclick="increaseCounter({{ answer.id }})">
          Не плохо<div>
            <hr />
            <span id="counter-{{ answer.id }}">{{ answer.reaction_count }}</span>
          </div>
        </button>
      </div>
    {% endfor %}
  </div>

  <form action="{% url 'question' quest.id %}" method="post" id="form">
    {% csrf_token %}
    <label for="message">Ответить на вопрос:</label><br />
    <textarea id="message" name="message" rows="8" cols="80">{{ answer }}</textarea><br />
    <button type="submit">Отправить</button>
  </form>

  {% comment %} <div class="answers-container">
    <div id="label">Ответы</div>
    {% for answer in answers %}
      <div id="answer">
        {{ answer.text }}
        <button id="rection" onclick="increaseCounter({{ answer.id }})">
          Не плохо<div>
            <hr />
            <span id="counter-{{ answer.id }}">{{ answer.reaction_count }}</span>
          </div>
        </button>
      </div>
    {% endfor %}
  </div> {% endcomment %}
  <style>
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    #rection {
      border-radius: 5px;
      font-size: 14px;
      color: cadetblue;
      background-color: azure;
    }
    #date {
      font-size: 12px;
    }
    #answer {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  </style>
{% endblock %}
