{% extends 'main.html' %}

{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <div id="conteiner">
    <div id="box">
      <div>
        <a href="/user/info/{{ quest.autor }}">{{ quest.autor }}</a>
        <a href="https://qna.habr.com/tag/python/questions">{{ quest.teg }}</a>

        <div>
          <h5>{{ quest.title }}</h5>
          <hr />
          <br />
          <h4>{{ quest.text }}</h4>
        </div>
        <div class="date">
          <div>Вопрос задан: {{ quest.created_at }}</div>
          <div>Изменён: {{ quest.updated_at }}</div>id: {{ quest.id }}
        </div>
      </div>
    </div>
  </div>

  <form action="/{{ quest.id }}/answer/" method="post" id="form">
    {% csrf_token %}
    <label for="message">Ответить на вопрос:</label><br />
    <textarea id="message" name="message" rows="8" cols="80"></textarea><br />
    <button type="submit">Отправить</button>
  </form>

  <div class="answers-container">
    {% for ans in quest.answers %}
      {{ ans.text }}
      <hr />
    {% endfor %}
  </div>
{% endblock %}
