{% extends 'main.html' %}
{% load static %}

{% block content %}
  <div class="main">
    <div id="conteiner_user">
      Мои вопросы{% for quest in user_question %}
        <div id="box_user">
          <div class="autor&title">
            <h4 id="teg">{{ quest.teg }}</h4>
            {% comment %} <a href="/q/update/{{ quest.id }}/"><h3>{{ quest.text }}</h3></a> {% endcomment %}
            <a href="{% url 'question_update' question_id=quest.id %}"><h3>{{ quest.text }}</h3></a>
          </div>
          <div class="date">
            <div>Вопрос задан: {{ quest.created_at }}</div>
            <div>Изменён: {{ quest.updated_at }}</div>
          </div>
          <div id="views">Просмотры: {{ quest.views }}</div>
          <a href="{% url 'question_delete' question_id=quest.id name=username %}">Удалить</a>
          {{ username }}
        </div>
      {% endfor %}
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <div id="conteiner_other">
      Вопросы других{% for other_quest in other_questions %}
        {{ username.first.autor }}
        <div id="box_other">
          <div class="autor&title">
            <h4 id="teg">{{ other_quest.teg }}</h4>
            <a href="/q/{{ other_quest.id }}/{{ username }}/"><h3>{{ other_quest.text }}</h3></a>
          </div>
          <div class="date">
            <div>Вопрос задан: {{ other_quest.created_at }}</div>
            <div>Изменён: {{ other_quest.updated_at }}</div>
          </div>
          <div id="views">Просмотры: {{ other_quest.views }}</div>
          <div id="views">Ответы: {{ other_quest.answer.text }}</div>
          {% comment %} <div id="views">Ответы: {{ answer_value }}</div> {% endcomment %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
