{% comment %} {% extends 'wrapper/main.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <div>
    <div class="info_box_user_profile">
      <div id="username">Профиль {{ username.username }}</div>
      <div>
        <a class="user_info_1" href="{% url 'info_user_choice' choice='questions' %}">Вопросы</a>
        <a class="user_info_1" href="{% url 'info_user_choice' choice='answer' %}">Ответы</a>
      </div>
      <div>
        <div>
          {% for quest in user_quest %}
            <div id="box_user">
              <div>{{ quest.text }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div></div>
      <div>
        <div>
          {% for answer in user_answer %}
            <div id="box_user">
              <div>{{ answer.text }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <style>
    .user_info_1 {
      font-size: 30px;
      display: flex;
      justify-content: space-around;
    }
  </style>
{% endblock %} {% endcomment %}
