<div class="answers-container">
  <div id="label">Ответы</div>
  {% for quest in question %}
    <div id="quest_div">{{ quest.text }}</div>
    <div id="answer">
      {% for ans in quest.answers %}
        {% if request.user.username == ans.autor.username %}
          <div id="del_upd">
            <div id="quest_div">{{ ans.text }}</div>
            <div>{{ ans.autor }}</div>
            <div>
              <a href="{% url 'answer_update_delete' answer_id=ans.id choice='ans_update' %}"><button id="but">Редактировать</button></a>
            </div>
            <div>
              <a href="{% url 'answer_update_delete' answer_id=ans.id choice='ans_delete' %}"><button id="but">Удалить</button></a>
            </div>
          </div>
          <hr />
        {% else %}

        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>

<style>
  #del_upd {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #quest_div {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 70%;
    min-height: 50px;
    height: fit-content;
    background-color: antiquewhite;
  }
</style>
