{% extends 'main.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  {% for quest in all_question %}
    <div id="conteiner">
      <div id="box">
        <div class="autor&title">
          <h4 id="teg">{{ quest.teg }}</h4>

          <a href="{% url 'question' quest.id %}"><h3>{{ quest.title }}</h3></a>
        </div>
        <div class="date">
          <div>Вопрос задан: {{ quest.created_at }}</div>
          <div>Изменён: {{ quest.updated_at }}</div>
        </div>
        <div id="views">Просмотры: {{ quest.views }}</div>

        {% for ans in answers %}
          {% if ans.question_id == quest.id %}
            {{ other_quest.id }}
            <div class="ans">
              <a href="{% url 'question' quest.id %}" id="ans">Ответов:</a>{{ ans.total }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
