<div class="user-widget">
  {% if user.image_url %}
    <div>
      <img class="user-widget-img" src="/static/profile/picture/{{ user.image_url }}/file-1.jpg" alt="фото" width="36" />
    </div>
  {% else %}
    <div>
      <img class="user-widget-img" src="/static/img/head.png" alt="фото" width="36" />
    </div>
  {% endif %}
  <div class="user-widget-info">
    <p class="user-widget-info-name">
      <strong>
        <span>{{ name }}</span>
        <span>{{ user.first_name }}</span>
      </strong>
      <a href="{% url 'user_profile' user %}">@{{ user }}</a>
    </p>
    {% if user.profession != '' %}
      <p class="user-widget-info-title">{{ user.profession }}</p>
    {% endif %}
  </div>
</div>
<style>
  .user-widget-img {
    border-radius: 50px;
  }
  .user-widget {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    gap: 2px;
  }
</style>
