{% comment %}виджет юзера с его аватаркой именем юзернеймом и должностью{% endcomment %}
<div class="user-widget">
  <div class="user-widget-img">
    <img src="/static/img/head.png" alt="" width="34" />
  </div>
  <div class="user-widget-info">
    <p class="user-widget-info-name">
      <strong>
        <span>name</span>
        <span>lastname</span>
      </strong>
      <a href="{% url 'user_profile' user.username %}">@{{ user.username }}</a>
    </p>
    <p class="user-widget-info-title">должность</p>
  </div>
</div>
<style>
  .user-widget {
    display: flex;
    align-items: flex-end;
    gap: 2px;
  }
</style>
