{% comment %}виджет юзера с его аватаркой именем юзернеймом и должностью{% endcomment %}
<div class="user-widget">
  <div>
    <img class="user-widget-img" src="/static/img/head.png" alt="" width="36" />
  </div>
  <div class="user-widget-info">
    <p class="user-widget-info-name">
      <strong>
        <span>name</span>
        <span>lastname</span>
      </strong>
      <a href="{% url 'user_profile' user.username %}">@{{ user.username }}</a>
    </p>
    <p class="user-widget-info-title">должность</p>
  </div>
</div>
<style>
  .user-widget-img {
    border-radius: 50px;
  }
  .user-widget {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    gap: 2px;
  }
</style>
